<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ecommerece - Clone</title>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body style="background-color: black;">

        
     <!-- Navigation starts -->
        <!-- Mobile -->
        <div id="mobile-nav" class="w-full xl:hidden h-full absolute z-40">
            <div class="bg-gray-800 opacity-50 inset-0 fixed w-full h-full" onclick="sidebarHandler(false)"></div>
            <div
                class="w-64 z-20 absolute left-0 z-40 top-0 bg-black shadow flex-col justify-between transition duration-150 ease-in-out h-full">
                <div class="flex flex-col justify-between h-full">
                    <div class="px-6 pt-4 overflow-y-auto">
                        <div class="flex items-center justify-between">
                            <div aria-label="Home" role="img" class="flex items-center">
                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_Grey_background-svg1.svg"
                                    alt="logo">
                                <p class="text-bold md:text2xl text-base pl-3 text-white">Rugvex</p>
                            </div>
                            <button id="cross"
                                class="hidden text-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 rounded"
                                onclick="sidebarHandler(false)">
                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_Grey_background-svg2.svg"
                                    alt="cross">
                            </button>
                        </div>
                        <ul class="f-m-m">
  
                            <!-- Home  -->
  
                            <li class="text-white pt-8">
                                <div class="flex items-center">
                                    <div class="md:w-6 md:h-6 w-5 h-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none">
                                            <path
                                                d="M7.16667 3H3.83333C3.3731 3 3 3.3731 3 3.83333V7.16667C3 7.6269 3.3731 8 3.83333 8H7.16667C7.6269 8 8 7.6269 8 7.16667V3.83333C8 3.3731 7.6269 3 7.16667 3Z"
                                                stroke="white" stroke-width="1" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M7.16667 11.6667H3.83333C3.3731 11.6667 3 12.0398 3 12.5V15.8333C3 16.2936 3.3731 16.6667 3.83333 16.6667H7.16667C7.6269 16.6667 8 16.2936 8 15.8333V12.5C8 12.0398 7.6269 11.6667 7.16667 11.6667Z"
                                                stroke="white" stroke-width="1" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M16.1667 11.6667H12.8333C12.3731 11.6667 12 12.0398 12 12.5V15.8334C12 16.2936 12.3731 16.6667 12.8333 16.6667H16.1667C16.6269 16.6667 17 16.2936 17 15.8334V12.5C17 12.0398 16.6269 11.6667 16.1667 11.6667Z"
                                                stroke="white" stroke-width="1" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M16.1667 3H12.8333C12.3731 3 12 3.3731 12 3.83333V7.16667C12 7.6269 12.3731 8 12.8333 8H16.1667C16.6269 8 17 7.6269 17 7.16667V3.83333C17 3.3731 16.6269 3 16.1667 3Z"
                                                stroke="white" stroke-width="1" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
  
                                    </div>
                                    <a href="/" class="text-red-700 ml-3 text-lg">Home</a>
                                </div>
                            </li>
  
                            <!-- Products   -->
  
                            <li class="text-white pt-8">
                                <div class="flex items-center">
                                    <div class="flex items-center">
                                        <div class="md:w-6 md:h-6 w-5 h-5">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="none">
                                                <path
                                                    d="M2.33333 4.83333H4.83333C5.05435 4.83333 5.26631 4.74554 5.42259 4.58926C5.57887 4.43298 5.66667 4.22101 5.66667 4V3.16667C5.66667 2.72464 5.84226 2.30072 6.15482 1.98816C6.46738 1.67559 6.89131 1.5 7.33333 1.5C7.77536 1.5 8.19928 1.67559 8.51184 1.98816C8.8244 2.30072 9 2.72464 9 3.16667V4C9 4.22101 9.0878 4.43298 9.24408 4.58926C9.40036 4.74554 9.61232 4.83333 9.83333 4.83333H12.3333C12.5543 4.83333 12.7663 4.92113 12.9226 5.07741C13.0789 5.23369 13.1667 5.44565 13.1667 5.66667V8.16667C13.1667 8.38768 13.2545 8.59964 13.4107 8.75592C13.567 8.9122 13.779 9 14 9H14.8333C15.2754 9 15.6993 9.17559 16.0118 9.48816C16.3244 9.80072 16.5 10.2246 16.5 10.6667C16.5 11.1087 16.3244 11.5326 16.0118 11.8452C15.6993 12.1577 15.2754 12.3333 14.8333 12.3333H14C13.779 12.3333 13.567 12.4211 13.4107 12.5774C13.2545 12.7337 13.1667 12.9457 13.1667 13.1667V15.6667C13.1667 15.8877 13.0789 16.0996 12.9226 16.2559C12.7663 16.4122 12.5543 16.5 12.3333 16.5H9.83333C9.61232 16.5 9.40036 16.4122 9.24408 16.2559C9.0878 16.0996 9 15.8877 9 15.6667V14.8333C9 14.3913 8.8244 13.9674 8.51184 13.6548C8.19928 13.3423 7.77536 13.1667 7.33333 13.1667C6.89131 13.1667 6.46738 13.3423 6.15482 13.6548C5.84226 13.9674 5.66667 14.3913 5.66667 14.8333V15.6667C5.66667 15.8877 5.57887 16.0996 5.42259 16.2559C5.26631 16.4122 5.05435 16.5 4.83333 16.5H2.33333C2.11232 16.5 1.90036 16.4122 1.74408 16.2559C1.5878 16.0996 1.5 15.8877 1.5 15.6667V13.1667C1.5 12.9457 1.5878 12.7337 1.74408 12.5774C1.90036 12.4211 2.11232 12.3333 2.33333 12.3333H3.16667C3.60869 12.3333 4.03262 12.1577 4.34518 11.8452C4.65774 11.5326 4.83333 11.1087 4.83333 10.6667C4.83333 10.2246 4.65774 9.80072 4.34518 9.48816C4.03262 9.17559 3.60869 9 3.16667 9H2.33333C2.11232 9 1.90036 8.9122 1.74408 8.75592C1.5878 8.59964 1.5 8.38768 1.5 8.16667V5.66667C1.5 5.44565 1.5878 5.23369 1.74408 5.07741C1.90036 4.92113 2.11232 4.83333 2.33333 4.83333"
                                                    stroke="currentColor" stroke-width="1" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </div>
  
                                        <a href="/products" class="text-white ml-3 text-lg">Products</a>
                                    </div>
                                    <button id="chevronup" onclick="listHandler(true)"
                                        class="ml-4 focus:outline-none focus:ring-2 focus:ring-gray-500 rounded">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_Grey_background-svg4.svg"
                                            alt="up">
                                    </button>
                                    <button id="chevrondown" onclick="listHandler(false)"
                                        class="hidden ml-4 focus:outline-none focus:ring-2 focus:ring-gray-500 rounded ">
                                        <img class="transform rotate-180"
                                            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_Grey_background-svg4.svg"
                                            alt="down">
                                    </button>
                                </div>
                                <div id="list" class="hidden">
                                    <ul class="my-3">
                                        <!-- <li class="text-sm text-gray-800 py-2 px-6"><a href="javascript:void(0)"> Best Sellers </a></li> -->
                                        <li class="text-sm text-gray-800 hover:text-red-700 py-2 px-6"><a
                                                href="javascript:void(0)"> Oversized </a></li>
                                        <li class="text-sm text-gray-800 hover:text-red-700 py-2 px-6"><a
                                                href="javascript:void(0)"> Sweatshirt</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
  
                </div>
            </div>
        </div>
        <!-- Mobile -->
        <nav class="w-full mx-auto bg-black shadow">
            <div class="container px-6 h-26 flex items-center justify-between mx-auto">
                <!-- Logo on the left -->
                <div aria-label="Home" role="img" class="flex items-center">
                    <img class=" h-24"
                        src="https://media.discordapp.net/attachments/952182051564556348/1206966963981525052/d7931b20-9032-4661-987c-e588926e78a6-removebg-preview.jpg?ex=65ddee94&is=65cb7994&hm=697e82ba44e95ed73beb5b258db5e879fd233adfd9c34196a536439d4a80ec4f&=&format=webp&width=468&height=468"
                        alt="logo">
                </div>
  
                <!-- Name in the middle -->
                <div class="flex items-center justify-center">
                    <h3 style="font-family: 'Rubik Doodle Shadow';"
                        class="text-base text-4xl text-white font-bold tracking-normal leading-tight ml-3 hidden lg:block">
                        Rugvex</h3>
  
                </div>
                  <!-- Navigation options on the right -->
                  <ul class="pr-12 xl:flex items-center h-full hidden">
                    <li
                        class="hover:text-red-700 cursor-pointer h-full flex items-center text-sm text-white tracking-normal border-b-2 border-red-700">
                        <a href="/"> Home</a></li>
                    <li
                        class="hover:text-red-700 cursor-pointer h-full flex items-center text-sm text-white mx-10 tracking-normal">
                        <a href="/products">Products</a></li>
                </ul>
                <!-- Mobile menu toggler -->
                <div class="visible xl:hidden flex items-center">
                    <div>
                        <button id="menu"
                            class="text-gray-800 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800"
                            onclick="sidebarHandler(true)">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_Grey_background-svg7.svg"
                                alt="toggler">
                        </button>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navigation ends -->
  


       <% if(todo==false){ %>
        <div class="mt-20">
            <h1 class="flex items-center justify-center font-bold text-white text-md lg:text-3xl">Add some products in cart first</h1>
        </div>
        <% }else{ %>
            <div class="mt-20">
                <h1 class="flex items-center justify-center font-bold text-white text-md lg:text-3xl">Personal Information</h1>
            </div>
            <div class="container p-12 mx-auto">
                <div class="flex flex-col w-full px-0 mx-auto md:flex-row">
                    <div class="flex flex-col md:w-full">
                        <h2 class="mb-4 font-bold md:text-xl text-heading text-white">Shipping Address
                        </h2>
                        <form class="justify-center w-full mx-auto" method="post" action="/placeorder">
                            <div class="">
                                <div class="space-x-0 lg:flex lg:space-x-4">
                                    <div class="w-full lg:w-3/2">
                                        <label for="name" class="block mb-3 text-sm font-semibold text-gray-500">Full
                                            Name</label>
                                        <input required name="name" type="text" placeholder="Full Name"
                                            class="w-full px-4 py-3 text-sm  text-white border bg-gray-900 border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600">
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <div class="w-full">
                                        <label for="Email"
                                            class="block mb-3 text-sm font-semibold text-gray-500">Email</label>
                                        <input required name="email" type="text" placeholder="Email"
                                            class="w-full px-4 py-3 text-sm text-white border bg-gray-900 border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600">
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <div class="w-full">
                                        <label for="Address"
                                            class="block mb-3 text-sm font-semibold text-gray-500">Address</label>
                                        <textarea
                                        required class="w-full px-4 py-3 text-xs border text-white border-gray-300 rounded bg-gray-900 lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600"
                                            name="address" cols="20" rows="4" placeholder="Address"></textarea>
                                    </div>
                                </div>
                                <div class="space-x-0 lg:flex lg:space-x-4">
                                    <div class="w-full lg:w-1/2">
                                        <label for="city"
                                            class="block mb-3 text-sm font-semibold text-gray-500">City</label>
                                        <input name="city" type="text" placeholder="City"
                                        required class="w-full px-4 py-3 text-sm border text-white bg-gray-900 border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600">
                                    </div>
                                    <div class="w-full lg:w-1/2 ">
                                        <label for="phone_number" class="block mb-3 text-sm font-semibold text-gray-500">
                                            Phone number</label>
                                        <input name="phone_number" type="text" placeholder="Post Code"
                                        required  class="w-full px-4 py-3 text-sm border text-white bg-gray-900 border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600">
                                    </div>
                                </div>
                                <div class="relative pt-3 xl:pt-6"><label for="note"
                                        class="block mb-3 text-sm font-semibold text-gray-500"> Notes 
                                    </label>
                                        <textarea name="note"
                                        required class="flex items-center w-full px-4 py-3 text-white text-sm bg-gray-900 border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-blue-600"
                                        rows="4" placeholder="Notes for delivery"></textarea>
                                </div>
                                <div class="mt-4">
                                    <button
                                        class="w-full px-6 py-2 text-blue-200 bg-gray-900 hover:bg-gray-500">Process</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="flex flex-col w-full ml-0 lg:ml-12 lg:w-2/5">
                        <div class="pt-12 md:pt-0 2xl:ps-4">
                            <h2 class="text-xl font-bold text-white">Order Summary
                            </h2>
                            <div
                                class="flex items-center w-full py-4 text-sm font-semibold border-b border-gray-300 lg:py-5 lg:px-3 text-heading last:border-b-0 last:text-base last:pb-0 text-white">
                                Total<span class="ml-2">₹<%=total%></span></div>
                        </div>
                    </div>
                </div>
            </div>
        <%} %>
       
<hr>

    </body>
</html>